In [2]:
import pandas as pd

people = {
    'Name': ["John", "Anna", "Peter", "Linda"],
    'Location': ["New York", "Paris", "Berlin", "London"],
    'Age': [24, 13, 53, 33]
}

frames = pd.DataFrame(people)

# global available only in jupyter notebook
display(frames)

people_older_than_thirty = frames[frames.Age > 30]

display(people_older_than_thirty)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

    Name Location  Age
2  Peter   Berlin   53
3  Linda   London   33